.storyText {
  font-size: 14px;
  text-wrap: stable !important;
}

.storyTitle {
  text-wrap: stable !important;
}

.scoreLabel {
  border-radius: 30px;
  padding: 5px 10px !important;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-wrap: nowrap;
}