.mainPage {
  display: flex;
  flex-flow: column;
  width: 750px;
  margin: 0 auto;
}

.panelHeader {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .mainPage {
    width: unset;
    margin: unset;
  }
}